---
import ChatSection from "../components/sections/ChatSection.astro";
import CliCaseSection from "../components/sections/CliCaseSection.astro";
import DashboardShowcaseSection from "../components/sections/DashboardShowcaseSection.astro";
import LoopCloseSection from "../components/sections/LoopCloseSection.astro";
import OpeningScarSection from "../components/sections/OpeningScarSection.astro";
import ProblemBeatSection from "../components/sections/ProblemBeatSection.astro";
import PresentationChrome from "../components/sections/PresentationChrome.astro";
import TestingViewSection from "../components/sections/TestingViewSection.astro";
import TransitionSlide from "../components/sections/TransitionSlide.astro";
import ToolingSection from "../components/sections/ToolingSection.astro";
import ViewsSection from "../components/sections/ViewsSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { site } from "../data/site.ts";
---

<BaseLayout title={site.metadata.title} description={site.metadata.description}>
  <PresentationChrome />
  <main class="presentation-main">
    <OpeningScarSection />
    <ProblemBeatSection id="manual-problem" section={site.presentation.manualProblem} />
    <TransitionSlide id="cli-idea" section={site.presentation.cliIdea} />
    <CliCaseSection />
    <ProblemBeatSection id="logs-problem" section={site.presentation.logsProblem} />
    <TransitionSlide id="testing-idea" section={site.presentation.testingIdea} />
    <TestingViewSection />
    <DashboardShowcaseSection id="testing-dashboard" section={site.presentation.testingShowcase} />
    <ProblemBeatSection id="tooling-problem" section={site.presentation.toolingProblem} />
    <TransitionSlide id="tooling-idea" section={site.presentation.toolingIdea} />
    <ToolingSection />
    <DashboardShowcaseSection id="tooling-dashboard" section={site.presentation.toolingShowcase} />
    <ProblemBeatSection id="chat-problem" section={site.presentation.chatProblem} />
    <TransitionSlide id="chat-idea" section={site.presentation.chatIdea} />
    <ChatSection />
    <DashboardShowcaseSection id="chat-dashboard" section={site.presentation.chatShowcase} />
    <ViewsSection />
    <LoopCloseSection />
  </main>
</BaseLayout>
